@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a asp-area="Admin" asp-controller="Restaurants" asp-action="Index">Restaurants</a>
<a asp-area="Admin" asp-controller="Owners" asp-action="Index">Owners</a>