@model SavourOdessa.Models.Restaurants.CommentListViewModel
<link rel="stylesheet" href="~/css/comment.css" />
<div class="container justify-content-center">
<h5>Comments:</h5>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <ul class="list-unstyled">
                    @foreach (var comment in Model.Comments)
                    {
                        <li class="media">
                            <span class="round pt-2"><img class="command-img" src="https://img.icons8.com/bubbles/100/000000/groups.png" class="align-self-start mr-3"></span>
                            <div class="media-body">
                                <div class="row d-flex">
                                    <h6 class="user pt-2">@comment.UserName</h6>
                                    <div class="ml-auto">
                                        @if (DateTime.Now.Date == comment.Date.Date)
                                        {
                                            <p class="text">@comment.Date.ToString("hh:mm")</p>
                                        }
                                        else
                                        {
                                            <p class="text">@comment.Date</p>
                                        }
                                    </div>
                                </div>
                                <p class="text">@comment.Text</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>