<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SavourOdessa</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <link rel="stylesheet" type="text/css" href="~/css/star.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SavourOdessa.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script defer src="~/js/site.js"></script>
</head>
<body>
    <header>
        <nav id="navbar" class="">
            <div class="nav-wrapper">
                <!-- Navbar Logo -->
                <div class="logo">
                    <!-- Logo Placeholder for Illustration -->
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img width="100px" height="auto" src="~/images/Shared/logo.png"></a>
                </div>

                <!-- Navbar Links -->
                <ul id="menu">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Restaurants" asp-action="Index">Restaurants</a></li>
                    <!--
                    -->
                    <li><a href="#services">Services</a></li>
                    <!--
                    -->
                    <li><a href="#about">About</a></li>
                    <!--
                    -->
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>


        <!-- Menu Icon -->
        <div class="menuIcon">
            <span class="icon icon-bars"></span>
            <span class="icon icon-bars overlay"></span>
        </div>


        <div class="overlay-menu">
            <ul id="menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Restaurants" asp-action="Index">Restaurants</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <h2> This page demonstrates CSS navigation menu with logo </h2>

        @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div class="navbar">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/Shared/logo.png" alt="Home"/></a>
            <!--Add link to restaurants-->
            <a class="active"  asp-area="" asp-controller="Restaurants" asp-action="Index"><i class="fa fa-fw fa-cutlery"></i> Restaurants</a>
            <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
            <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
            <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
        </div> *@
       @*  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SavourOdessa</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            <span>&copy; 2024 - SavourOdessa</span>
            <a href="https://www.facebook.com"><img src="~/images/Shared/facebook.png" alt="facebook"></a>
            <a href="https://www.instagram.com"><img src="~/images/Shared/instagram.png" alt="instagram"></a>
            <a href="https://www.telegram.org"><img src="~/images/Shared/telegram.png" alt="telegram"></a>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
